.container {
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
    color: #4604D2;
}


.site-head {
    background-color: #943CEC;
    padding: 1rem;
}


nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


nav > ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
}


.hero > img {
    max-width: 100%;
    width: 100%;
    height: auto;
}


footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
